In [112]:
from config.config import user_mongo_db, password_mongo_db
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd

import json

Extract

In [113]:
path_consultas = '/home/allan/workspace/vs-code/Alerta-Consultas-LW/Planilhas/31-consultas.ods'
path_frota = '/home/allan/workspace/vs-code/Alerta-Consultas-LW/Planilhas/31-frota.ods'


df_consultas = pd.read_excel(io=path_consultas)
df_frota = pd.read_excel(io=path_frota)

In [114]:
id_cliente = '31'

In [116]:
df_consultas.head()

  orgaos_homologados  +todos  consulta_semanal
0             der_sp       1             35000
1            pref_sp       1              1300
2          detran_mg       1             18000
3         git_parana       0             17523
4          detran_sc       0                 5

In [117]:
df_frota.head()

   UF  Quantidade
0  SP       15000
1  MG         600
2  SC         300
3  PR       20000

In [118]:
document = {'id_cliente': id_cliente}

In [119]:
document['Consulta Semanal']  = df_consultas.to_dict(orient='records')

In [120]:
document['Frota']  = df_frota.to_dict(orient='records')

Conex√£o com o Mongo DB

In [121]:


uri = f"mongodb+srv://{user_mongo_db}:{password_mongo_db}@cluster-analise-frota.6slpdkx.mongodb.net/?retryWrites=true&w=majority&appName=AtlasApp"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

Criando um banco de dados no Mongo DB

In [122]:
db = client['db_monitoramento_frota']
collection = db['frota']

In [123]:
client.list_database_names()

['db_monitoramento_frota', 'admin', 'local']

In [124]:
collection.insert_one(document)

In [125]:
document_encontrado = collection.find_one()

table = document_encontrado['Consulta Semanal']

In [126]:

table

[{'orgaos_homologados': 'der_sp', '+todos': 1, 'consulta_semanal': 35000},
 {'orgaos_homologados': 'pref_sp', '+todos': 1, 'consulta_semanal': 1300},
 {'orgaos_homologados': 'detran_mg', '+todos': 1, 'consulta_semanal': 18000},
 {'orgaos_homologados': 'git_parana', '+todos': 0, 'consulta_semanal': 17523},
 {'orgaos_homologados': 'detran_sc', '+todos': 0, 'consulta_semanal': 5}]

In [128]:
df_result = pd.DataFrame(table)

df_result

  orgaos_homologados  +todos  consulta_semanal
0             der_sp       1             35000
1            pref_sp       1              1300
2          detran_mg       1             18000
3         git_parana       0             17523
4          detran_sc       0                 5

In [111]:
result = collection.delete_many({})
print(f'{result.deleted_count} documentos apagados.')

2 documentos apagados.